<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Try</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Connection pool size -->
		<property name="hibernate.connection.pool_size">10</property>


		<!-- Format SQL -->
		<property name="hibernate.format_sql">true</property>

		<!-- Automatically update the database schema -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- XML Mapping files -->
		<mapping resource="com/infinite/jsf/Provider/mapping/Provider.hbm.xml" />
		<mapping resource="com/infinite/jsf/Provider/mapping/PasswordHistory.hbm.xml" />
		<mapping resource="com/infinite/jsf/Provider/mapping/Otp.hbm.xml" />
		</session-factory>
</hibernate-configuration>
